.coverage
.env
.env_python2.6
.env_python2.7
.env*
.idea
.tox
.vagrant
*.egg-info
*.pyc
*.pyc
*.pyo
*egg-info*
build
build/*
BUILDROOT
coverage.xml
dist
dist/*
docs/build/
pep8.out
RPMS
SOURCES
test_results.xml
